<!doctype html>
{% import "nav.html" as nav with context  %}
{% import "name.html" as name with context  %}
<html lang="en">
   <head>
      <meta charset="utf-8" />
      <title>Dashboard | {{ name|safe }}</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta content="User dashboard" name="description" />
      <meta content="Themesbrand" name="author" />
      <!-- App favicon -->
      <link rel="shortcut icon" href="static/images/favicon.ico">
      <!-- Bootstrap Css -->
      <link href="static/css/bootstrap.min.css" id="bootstrap-style" rel="stylesheet" type="text/css" />
      <!-- Icons Css -->
      <link href="static/css/icons.min.css" rel="stylesheet" type="text/css" />
      <!-- App Css-->
      <link href="static/css/app.min.css" id="app-style" rel="stylesheet" type="text/css" />
   </head>
   <body data-sidebar="dark" data-new-gr-c-s-check-loaded="14.1022.0" data-gr-ext-installed=""  class="" style="" id="body">
      <!-- <body data-layout="horizontal" data-topbar="dark"> -->
      {{ nav|safe }}
      <!-- Left Sidebar End -->
      <!-- ============================================================== -->
      <!-- Start right Content here -->
      <!-- ============================================================== -->
      <div class="main-content">
      <div class="page-content">
         <div class="container-fluid">
            <!-- start page title -->
                                                {% with messages = get_flashed_messages() %}
                                          {% if messages %}
                                            {% for message in messages %}
                                              <div class="alert alert-primary" role="alert">
                                                {{message}}
                                              </div>
                                            {% endfor %}
                                          {% endif %}
                                    {% endwith %}
            <div class="row">
               <div class="col-12">
                  <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                     <h4 class="mb-sm-0 font-size-18">Available Rigs</h4>
                     <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                           <li class="breadcrumb-item"><a href="javascript: void(0);">Store</a></li>
                        </ol>
                     </div>
                  </div>
               </div>
            </div>
            <!-- end page title -->
             <br><br>
            <div class="container">
                {% for server in servertype %}
               <div class="card bg-light">
                  <div class="row no-gutters">
                     <div class="col-md-4">
                        <img src="{{server.picture}}" class="card-img" alt="...">
                     </div>
                     <div class="col-md-8">
                        <div class="card-body p-5">
                           <h5 class="card-title text-white">{{server.server}}</h5>
                           <ul class="list-group">
                              <li class="list-group-item list-group-item-primary">Rig Name: {{server.server}}</li>
                              <li class="list-group-item list-group-item-secondary">daily price: ${{server.price}}</li>
                              <li class="list-group-item list-group-item-secondary">hash rate GH/s: {{server.hash}}</li>
                              <li class="list-group-item list-group-item-secondary">estimated daily profit: {{server.dprofit}}</li>
                              <li class="list-group-item list-group-item-danger"><a href="/checkout?server={{server.server}}" class="btn btn-danger btn-sm">Purchase<i class="mdi mdi-arrow-right ms-1"></i></a></li>
                           </ul>
                        </div>
                     </div>
                  </div>
               </div>
                <br><br>
                {% endfor %}
            </div>
            <!-- End Page-content -->
            <footer class="footer">
               <div class="container-fluid">
                  <div class="row">
                     <div class="col-sm-6">
                        <script>document.write(new Date().getFullYear())</script> © {{ name|safe }}.
                     </div>
                     <div class="col-sm-6">
                        <div class="text-sm-end d-none d-sm-block">
                           Design & Develop by {{ name|safe }}
                        </div>
                     </div>
                  </div>
               </div>
            </footer>
         </div>
         <!-- end main content-->
      </div>
      <!-- END layout-wrapper -->
      <!-- Right Sidebar -->
      <div class="right-bar">
         <div data-simplebar class="h-100">
            <div class="rightbar-title d-flex align-items-center px-3 py-4">
               <h5 class="m-0 me-2">Settings</h5>
               <a href="javascript:void(0);" class="right-bar-toggle ms-auto">
               <i class="mdi mdi-close noti-icon"></i>
               </a>
            </div>
            <!-- Settings -->
            <hr class="mt-0" />
            <h6 class="text-center mb-0">Choose Layouts</h6>
            <div class="p-4">
               <div class="mb-2">
                  <img src="static/images/layouts/layout-1.jpg" class="img-fluid img-thumbnail" alt="">
               </div>
               <div class="form-check form-switch mb-3">
                  <input class="form-check-input theme-choice" type="checkbox" id="light-mode-switch" checked>
                  <label class="form-check-label" for="light-mode-switch">Light Mode</label>
               </div>
               <div class="mb-2">
                  <img src="static/images/layouts/layout-2.jpg" class="img-fluid img-thumbnail" alt="">
               </div>
               <div class="form-check form-switch mb-3">
                  <input class="form-check-input theme-choice" type="checkbox" id="dark-mode-switch" data-bsStyle="static/css/bootstrap-dark.min.css" data-appStyle="static/css/app-dark.min.css">
                  <label class="form-check-label" for="dark-mode-switch">Dark Mode</label>
               </div>
               <div class="mb-2">
                  <img src="static/images/layouts/layout-3.jpg" class="img-fluid img-thumbnail" alt="">
               </div>
               <div class="form-check form-switch mb-5">
                  <input class="form-check-input theme-choice" type="checkbox" id="rtl-mode-switch" data-appStyle="static/css/app-rtl.min.css">
                  <label class="form-check-label" for="rtl-mode-switch">RTL Mode</label>
               </div>
            </div>
         </div>
         <!-- end slimscroll-menu-->
      </div>
      <!-- /Right-bar -->
      <!-- Right bar overlay-->
      <div class="rightbar-overlay"></div>
      <!-- JAVASCRIPT -->
      <script src="static/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
      <script src="static/libs/metismenu/metisMenu.min.js"></script>
      <script src="static/libs/simplebar/simplebar.min.js"></script>
      <script src="static/libs/node-waves/waves.min.js"></script>
      <!-- apexcharts -->
      <script src="static/libs/apexcharts/apexcharts.min.js"></script>
      <!-- crypto dash init js -->
      <script src="static/js/pages/crypto-dashboard.init.js"></script>
      <script src="static/js/app.js"></script>
         <script src="static/js/toggle.js"></script>
   </body>
</html>
{"mode":"full","isActive":false}